Audio_Transcription_Summary.json
{
  "name": "Audio Transcription & Summary (Sarvam + ChatGPT)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "95487681-b4e4-4cef-a2dd-b5a2ed4dea64",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/socialsect/vusic-backend/main/Poor%20Leg%20Circulation_%20Do%20These%204%20Exercises%20While%20Sitting%20_%20Doctor%20Demonstrates.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [224, 0],
      "id": "0ebb0ed6-f369-4d61-b0bd-caedaa7483f2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sarvam.ai/speech-to-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-subscription-key",
              "value": "YOUR_SARVAM_API_KEY"
            },
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Type",
              "value": "Binary"
            },
            {
              "name": "Model",
              "value": "saarika:v2.5"
            },
            {
              "name": "Language",
              "value": "unknown"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [448, 0],
      "id": "d385865a-ded1-41d1-91c9-3c84cf133f7f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\nconst transcript =\n  body.transcript ||\n  body.text ||\n  body.data?.transcript ||\n  body.result?.transcript ||\n  '';\n\nif (!transcript) {\n  throw new Error(\"No transcript found. Response: \" + JSON.stringify(body));\n}\n\nreturn [{ json: { transcript } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 0],
      "id": "4baf2b18-c74d-4e49-97c8-e0915ab103eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = items.map((item) => item.json.content.parts[0].text).join(\" \");\n\nreturn [{ json: { summary } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1248, 0],
      "id": "e1016e29-e83b-46da-8386-e5464d128334",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this transcript:\\n\\n{{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [896, 0],
      "id": "ba615a54-b770-4943-ba04-81b6bba59fab",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1000,
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1yEq97iGuqiChmB4ApG07x-65NOHiT43H0moGmXUxTJo/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.summary }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1456, 0],
      "id": "560558da-85a8-459a-a0e4-14b38205f9bf",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_DOCS_CREDENTIAL_ID",
          "name": "Google Docs OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "HTTP Request1", "type": "main", "index": 0 }]]
    },
    "HTTP Request1": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "Message a model", "type": "main", "index": 0 }]]
    },
    "Message a model": {
      "main": [[{ "node": "Code in JavaScript1", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript1": {
      "main": [[{ "node": "Update a document", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a03ebd0-b1ea-4763-8154-14122d972ecb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED"
  },
  "id": "5IOeLoYQDyMHaYnL",
  "tags": []
}
